html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}


.container {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; */
}

.navbar {
    width: 100%;
    background-color: white;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}


/* Estilos para o logo */

.navbar-logo img {
    height: 50px;
}

.navbar-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* .navbar-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; */


/* } */

/* Estilos para o menu */
.navbar-menu {
    width: 10%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li:last-child {
    margin-right: 0;
}

.navbar-menu li a {
    border: none;
    padding: 5px;
    color: #000000;
    background-color:rgba(241, 241, 241, 0.89);
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

.navbar-menu li a:hover {
    border: 1px solid white;
    transition: 0.2s;
    color: white;
    background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);}

/* Estilos para os botões */


.signin-button {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Estilos para o banner */
.banner {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/banner.jpg);
    background-size: cover;
    background-position: center;
}
.container-banner {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
}

.container-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.container-newsletter h1 {
    font-size: 4.3rem;
    color: #ffffff;
    margin: 0;
    
}
.container-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1.9;
    padding-bottom: 3%;
}
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category span {
    text-align: center;
}

.container-input-newsletter {
    display: flex;
    background: #d3d2ce;
    padding: 3px 5px;
    align-items: center;
}
.container-input-newsletter label {
    border: none;
    padding: 5px;
    font-size: 10px;
    background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
}
.container-input-newsletter input {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    background: #d3d2ce;
}
.container-input-newsletter input::selection {
    border: none;
}
.container-input-newsletter button {
    background: #d3d2ce;
    border: none;
}

.container-new-trendy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.new-trendy-item {
    background-color: #ccc;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.new-trendy-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-trendy-item:nth-child(1) {
    order: 1;
}

.new-trendy-item:nth-child(2) {
    order: 2;
}

.new-trendy-item:nth-child(3) {
    order: 4;
}

.new-trendy-item:nth-child(4) {
    order: 3;
}

.now-trend-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;

}
.now-trend-container > a{
    text-decoration: none;
}

.pagination{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.pagination > a{
    width: 5%;
    display: flex;
    color: black;
    text-decoration: none;

}

.pagination > a:hover{
  text-decoration:underline;
}

.container-body-post{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: justify;
}
.container-body-post > p{
    width: 90%;
}

.card {
    height: 90%;
    cursor: pointer;
    display: flex;
    color: black;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}


.card img {
    width: 28vw;
    height: 55%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.card > img:hover{
    width: 28.2vw;
    transition: 0.3s;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}

.card-now-trend {
    padding-left: 8%;
    width: 90%;
    display: flex;

}
.card-now-trend img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-main{
    margin-left: 10px;
    width: 60%;
    height: 15%;
    text-decoration:dotted;
}
.card-main > h3{
    margin-bottom: 10px;
}

.card-main > p{
    margin-top: 0;
}


.container-cat{
    margin-left: 10px;
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1.9;
    padding-bottom: 1%;
    border-bottom: 0.2px solid #313131;
}

.blog-container {
    width: 96%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    padding: 20px;
}


.post-item-4row{
    width: 90%;
    height: 38vh;
}
.post-item-4row > img{
    width:90%;
    height: 100% ;
}

.post-item{
    width: 90%;
}







.post-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.post-item-4row{
    padding: 0;
    grid-row: 1 / span 4; /* ocupa três linhas a partir da segunda linha */
}
.post-item-4row > img{
    width: 100%;
}

.container-footer {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #000000;
    color: #fff;

}
.logo{
    grid-column: 1 / span 1;
}

.banner-post {
    height: 50vh;
    background-image: url(../assets/img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.container-post-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.container-post-banner h1 {
    font-size: 4.3rem;
    color: #ffffff;
    margin: 0;
    
}

/* pagina home */
.navbar{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8vh;
    background-color: rgba(241, 241, 241, 0.89);
}

.conteiner-banner{
    width: 100vw;
    margin: 0;
}
.navbar-logo   {
    width: 50%;
    display: flex;
    padding-left: 5%;
}

.navbar-logo > input{
    width: 30vw;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black ;
    font-size: 15px;
    background-color: transparent;

}

.navbar-logo > button{
    cursor: pointer;
    border-radius: 10px;
    font-size: medium;
    color: white;
    background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);    margin-left: 10px;
    margin-top: 0.5%;
    width: 17%;
    height: 35px;
    border: none;

}

.navbar-logo > button:hover{
    transition: 0.5;
    width: 18%;
    height: 36px;
}


.navbar-logo > img{
    margin-right: 5%;    
    width: 42.6px;
    height: 38px;
    
}

.navbar-buttons{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    padding-right: 5%;
    align-items:flex-end;
    
}

.navbar-menu{
    width: 45%;
    height: 20%;
    top: 12px;
    display: flex;
    justify-content: space-around;
    

}

.navbar-menu > a::after{
    border: 1px solid black;
}

.banner{
    display: flex;
    width: 100%;
    background-image: url("/assets/img/vista-traseira-do-programador-trabalhando-a-noite-toda.jpg");
}
    .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35vw;
        height: 80%;

        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        /* or 112% */

        letter-spacing: 3px;

        color: #000000;
    }
    .newsletter > h1{
        display: flex;

        width: 70%;
        padding-left: 40px;
        color: white;
        font-size: 60px;
        line-height: 80%;
    }
    .newsletter > p{
        color: white;
        padding-left: 40px;
        width: 90%;
    }

    .container-input-newsletter {
        display: flex;
        border-radius: 10px;
        width: 83%;
        display: flex;
        background: #d3d2ce;
        padding: 3px 5px;
        align-items: center;
        margin-left: 7%;
        margin-top: 20%;
        


    }
    .container-input-newsletter > label{
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 50%;
        border: none;
        padding: 5px;
        font-size: 10px;
        background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
    }
    .container-input-newsletter > input{
        display: flex;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
        width: 100%;
        background-color: transparent;

    }

    .container-input-newsletter > input ::selection{
        border: none;
    }

    .btn-1 > button{
        background: transparent;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        height: 40px;

    }

    .btn-1{
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 20%;

    }
    .btn-1 :hover{
        background-color: #313131;
    }


.new-trendy{
    display: flex;
    flex-direction: column;
}
.new-trendy > h2{
    margin: 10px;
}



.new-trendy-item{
    color: white;
}
.Fantasy{
    width: 60%;
    display: flex;
    justify-content:space-around;
    margin-top: 40px;

}

.titulo{
    width: 64%;
    display: flex;
    justify-content:space-around;
    
}
.pagrafo{
    display: flex;
    width: 50%;
    padding-left: 22%;
    margin-top: 5%;
    justify-content: space-around;

}

.card-footer{
    width:100%;
    display: grid;
    align-items: center;
    margin-top: 15%;
}

    
    .footer-item > ul {
        margin-left: 8%;
        width: fit-content;
        display: flex;
        justify-content:left;
        flex-direction: column;
        align-items: flex-start;
        padding: inherit;
    
    }
    
    .footer-item ul > li > a{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 10px;
    
    
    }
    
    footer{
        width: 100%;
        display: grid;
    }
    
    .footer-input-newsletter{
        display: flex;
        border-radius: 10px;
        width: fit-content;
        display: flex;
        background: #d3d2ce;
        padding: 3px 5px;
        align-items: center;
        
    }
    .container-input-newsletter-footer{
        width: 100%;
        border-radius: 20px;
        display: flex;
        background: #d3d2ce;
        padding: 3px 5px;
        align-items: center;
    }
    .footer-input-newsletter > label{
        color: white;
        display: flex;
        height: 30%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
        border: none;
        padding: 10px;
        font-size: 10px;
        background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);

    }
    .footer-input-newsletter input {
        display: flex;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
        width: 100%;
        height: 20%;
        background-color: transparent;
    }
    .footer-input-newsletter input::selection {
        border: none;
    }
    .footer-input-newsletter button {
        cursor: pointer;
        padding: 10px; 
        border-radius: 10px;
        background-color: transparent;       
        background: #d3d2ce;
        border: none;
    }
    .footer-input-newsletter button:hover{
        background-color: #313131;

    }


    .footer-input-newsletter label {
        display: flex;
        border: none;
        padding: 5px;
        font-size: 10px;
        background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
    }

    .footer-item > h3{
        margin:0;
    }

    .footer-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
    }
    .footer-item:nth-child(2) {
        grid-area: company;
        justify-content: flex-start;
        display: flex;
      
        /* margin-top: 0px; */
        margin-top: 10px;
      
      }
    
    .footer-item:nth-child(3) {
        grid-area: support;
        justify-content: flex-start;
        display: flex;
      
        /* margin-top: 0px; */
        margin-top: 10px;
    }
      .footer-item:nth-child(4) {
        grid-area: follow;
        justify-content: flex-start;
        display: flex;
      
        /* margin-top: 0px; */
        margin-top: 10px;

    }
    .footer-item:nth-child(5) {
        justify-content: flex-start;
        display: flex;
        grid-area: newsletter;
        /* margin-top: 0px; */
        margin-top: 9px;
        
    }
    .cat{
        cursor: pointer;
        
    }
    .cat:hover{
        text-decoration: underline;
    }
    
      
    .container-footer {
        display: flex;
        justify-content: space-around;
      }

    
    .footer-item > ul > li  {
        margin-top: -6%;
        text-decoration: none;
        
    }
    .footer-item > ul > li > a{
        text-decoration: none;

    }
    
    /* Estilos opcionais para melhorar a aparência */
  
    
    .footer-item ul li {
        margin-bottom: 5px;
    }
    /* antes do media query  */
    .mobile-menu-icon {
        display: none;
    }
    
    .mobile-menu {
        display: none;
    }
    @media only screen and (max-width: 1100px){
       .navbar-menu{
      
        display: none;
        flex-direction: column;

        
        }
       
     
        .navbar-logo > button{
            width: 200px;

        }

        .navbar-logo > button:hover{
            width: 201px;
        } 
       
        /* Dentro do media  */

        .mobile-menu-icon {
            display: block;

        }
        .mobile-menu-icon button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            
        }
        .mobile-menu-icon > button > img{
            background-color: black;
            border-radius: 10px;
        }
        .mobile-menu{
            background-color:white;
        }
        .mobile-menu ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }
        .mobile-menu .nav-item {
            display: block;
            padding-top: 1.2rem;
            
        }
        .nav-link{
            display: flex;
            justify-content: center;
            width: 100%;
            text-decoration: none;
            color: #000000;
        }
        .nav-link:hover{
            text-decoration: underline;
        }
        
        .open {
            display: block;
        }
       .newsletter{
        width: 100%;
       }
       .newsletter > h1{
        font-size: 35px;
       }
       .newsletter > p{
        width: 100%;
        font-size: 15px;
       }
       .container-input-newsletter{
        width: 70vw;
        margin-left: 12%;

       }
       .container-input-newsletter > input{
            width: 100%;
            

       }

       .now-trend-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       }

       .container-cat{
        margin-left: 0;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        width: 100%;
       }
       .card{
        width: 90%;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
       }
       .card > p{
        padding-left:0px;
        width: 50%;
        text-align:center;

      }

      .input-login{
        width: 100% !important;
      }

       .container-footer{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;

        
       }
       footer{
        width: 100%;
        margin: 0;
       }

       .new-trendy-item{
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-top: -10px;
        top: 2%;
    
       }
       .new-trendy-item > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
       #foto{
    
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        font-size: 15px;
        height: 100%;
       }

       #foto2{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        height: 100%;
    
       }
       .blog-container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       }
       .post-item{
        width: 90%;
       }
       .newsletter-login{
        width: 100%;
        height: fit-content;
       }
       .newsletter-login > h1{
        font-size: 29px !important;
        margin-bottom: 30px;
       }
       .newsletter-login > p{
        margin-bottom: 30px;
       }

       .footer-item{
        margin-bottom: 36px;
        width: 80%;
        display: flex;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
        font-size: 30px;
       }
       .footer-item > ul{
        height: fit-content ;
        display: flex;
        width: 72%;
        text-align:end;
        align-items: first baseline;
       }

       .footer-item h3 {
        width: 80%;
        }
       .footer-input-newsletter{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-bottom: 0;
        margin-left: 33px;}
        
        .pagination {
            font-size: 25px;
            text-decoration: none;
            width: 100%;
            
            display: flex;
            bottom: 39px;
            justify-content: space-around;
        }
        
       }
       body{
        overflow-x:hidden !important;
        }

       
        
        
        
    

    
      
    
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9vh;
        grid-area: logo;

    }
    .logo > img{
        width: fit-content;
    }
     

    /* pagina de login e de cadastro */
    
    .banner-login{
        height: 100vh;
        background-image: url("/assets/img/vista-traseira-do-programador-trabalhando-a-noite-toda.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }
    
    
    .newsletter-login > h1{
        width: 100%;
        padding-left: 3%;
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    
    .newsletter-login > p {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }
    
    .container-input-newsletter-login{
        width: 83%;
        display: flex;
        background: #d3d2ce;
        padding: 3px 5px;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: 10%;
        
        
    }
    
    .label-login{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        justify-content: center;
        height: 30px;
        margin-right: 10px;
        width: 15%;
        border: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 15px;
        background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
    }
    
    
    .input-login{
        background: #d3d2ce;
        border-radius: 10px;
        
        width: 40vw;
        height: 5vh;
        border: none;
        padding-left: 10px;
        border-radius: 10px;
    }
    
    
    .btn-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-login > button{
        font-size: 15px;

        cursor: pointer;
        height: 5vh;
        color: white;
        border: 1px solid white;
        background-color:rgb(23, 23, 23);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 20%;
    }
   
      
      .menu {
        display: none;
        flex-direction: column;
        width: 30%;
        height: 20vh;
        /* Estilos adicionais para o menu */
      }


   

